@charset "utf-8";

/*** common ***/
#wrap {width:100%; height:auto; overflow:hidden;}
.al_box {width:100%; max-width:1280px; margin:0 auto; position:relative; z-index:10;}
.al_box:after {content:""; display:block; clear:both;}
#wrap .floating_top {position:fixed; left:auto !important; right:20px !important; bottom:20px; width:40px; border:1px solid #cbcbcb; overflow:hidden;
-webkit-opacity:0.8; -moz-opacity:0.8; -ms-opacity:0.8; -o-opacity:0.8; opacity:0.8; filter:alpha(opacity=80);
-webkit-border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -ms-border-radius:3px; border-radius:3px; z-index:999; display:none;}
#wrap .floating_top a {display:block; width:40px; height:40px; background:#fff url(/Img/kr/common/floating_top_btn.gif) no-repeat center 50%;}
#wrap .floating_top a span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}


/*** header ***/
#header {width:100%; height:110px; position:relative; z-index:990;}
#header #toputil {width:100%; height:30px; background:#434343; position:relative; z-index:201;}
#header #toputil h1.logo {position:absolute; left:0; top:44px; z-index:990;}
#header #toputil h1.logo a {display:block; width:auto; height:100%; color:#007d4d; font-size:22px; line-height:26px; font-weight:600; padding:6px 0 0 0; text-decoration:none;}
#header #toputil h1.logo a img {display:inline-block; vertical-align:top; margin:-6px 5px 0 0;}
#header #toputil .top_m {position:absolute; right:0; top:0;}
#header #toputil .top_m li {float:left; margin-right:15px;}
#header #toputil .top_m li a {display:inline-block; vertical-align:top; color:#fff; font-size:12px; height:30px; line-height:30px; padding:0 10px 0 0; background:url(/Img/kr/common/top_m_bul.png) no-repeat right 50%;
-webkit-transition: all .2s ease; transition: all .2s ease;}
#header #toputil .top_m li a span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
#header #toputil .top_m li.fb {margin-right:0;}
#header #toputil .top_m li.fb a {padding:0; background:url(/Img/kr/common/top_m_fb.png) no-repeat center top; width:30px;}
#header #toputil .top_m li.fb a:hover, #header #toputil .top_m li.fb a:active {background:#4867aa url(/Img/kr/common/top_m_fb.png) no-repeat center top;}
#header #toputil .top_m li.cacao {margin-right:0;}
#header #toputil .top_m li.cacao a {padding:0; background:url(/Img/kr/common/top_m_cacao.png) no-repeat center top; width:30px;}
#header #toputil .top_m li.cacao a:hover, #header #toputil .top_m li.cacao a:active {background:#ffe400 url(/Img/kr/common/top_m_cacao.png) no-repeat center top;}
#header #gnb {width:100%; height:80px;}
#header #nav {position:relative; z-index:101;}
#header #nav ul {width:auto; height:auto; padding:0 120px 0 0; float:right;} 
#header #nav ul:after {content:""; display:block; clear:both;}
#header #nav ul li {float:left; margin-left:80px;}
#header #nav ul li:first-child {margin-left:0;}
#header #nav ul li a {display:block; font-size:18px; line-height:24px; padding:27px 0 0 0; height:53px; font-weight:600; text-decoration:none;}
#header #nav ul li a.ov, #header #nav ul li a:hover, #header #nav ul li a:active {color:#007d4d;}
#header #nav ul li .depth2 {display:none; width:20%; height:0; position:absolute; top:80px; border-left:1px solid #e3e6de; z-index:5; box-sizing:border-box;}
#header #nav ul li .depth2 h2 {font-size:17px; line-height:22px; padding:20px 10% 12px 10%;}
#header #nav ul li .num1 {left:0; border-left:0;}
#header #nav ul li .num2 {left:20%;}
#header #nav ul li .num3 {left:40%;}
#header #nav ul li .num4 {left:60%;}
#header #nav ul li .num5 {left:80%;}
#header #nav ul li ul {padding:0 10%; float:none;}
#header #nav ul li ul li {float:none; width:auto; text-align:left; position:relative; margin:2px 0 0 0;}
#header #nav ul li ul li:first-child {margin-top:0;}
#header #nav ul li ul li a {height:auto; font-size:14px; line-height:19px; font-weight:normal; padding:5px 0; color:#444; display:inline-block;}
#header #nav ul li ul li a[target="_blank"] {background:url(/Img/kr/common/blank_ico.gif) no-repeat right 50%; padding:5px 17px 5px 0;}
#header #nav ul li ul li a:hover, #header #nav ul li ul li a:active {text-decoration:underline;}
#header #shadow {position:fixed; left:0; top:0; z-index:201; background:#000; width:100%; height:100%; display:none;
-webkit-opacity:0.6; -moz-opacity:0.6; -ms-opacity:0.6; -o-opacity:0.6; opacity:0.6; filter:alpha(opacity=60);}


#header #gnb #blind {width:100%; background:#f5f6f1; position:absolute; left:0; top:110px; z-index:1; display:none;
-moz-box-shadow:0 0 3px #8c8c8c; -ms-box-shadow:0 0 3px #8c8c8c; -o-box-shadow:0 0 3px #8c8c8c; -webkit-box-shadow:0 0 3px #8c8c8c; box-shadow:0 0 3px #8c8c8c;}
#header #totalsearch {position:absolute; right:50%; margin-right:-640px; top:30px; z-index:101;} 
#header #totalsearch .btn {display:block; position:absolute; right:0; top:0; z-index:10; width:80px; height:80px; background:#1fb25a url(/Img/kr/common/totalsearch_ico.png) no-repeat center 50%;
-webkit-transition: all .2s ease; transition: all .2s ease;}
#header #totalsearch .btn:hover, #header .totalsearch .btn:active {background:#0f9d48 url(/Img/kr/common/totalsearch_ico.png) no-repeat center 50%;}
#header #totalsearch .btn.ov {background:#3b3f40 url(/Img/kr/common/totalsearch_ico_ov.png) no-repeat center 50%;}
#header #totalsearch .btn.active {background:url(/Img/kr/comm/totalsearch_close.png) no-repeat center 50%;}
#header #totalsearch .btn span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
#header #totalsearch div {position:absolute; right:0; top:80px; width:400px; padding:25px; display:none; 
-moz-opacity:0; -ms-opacity:0; -o-opacity:0; -webkit-opacity:0; opacity:0; filter:alpha(opacity=0);} 
#header #totalsearch div input[type="text"] {display:block; float:left; padding:0 10px; background:#f5f5f5; border:1px solid #dfdfdf; height:40px; line-height:40px; width:250px; position:relative; z-index:10;
-moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#header #totalsearch div input[type="submit"] {display:block; border:0; float:right; width:120px; height:42px; padding:0; font-size:16px; background:#1fb25a; position:relative; z-index:10;
-moz-border-radius:4px; -ms-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#header #totalsearch div span.bg {display:block; width:100%; height:100%; position:absolute; left:0; top:0; z-index:1; background:#000;
-moz-opacity:0.5; -ms-opacity:0.5; -o-opacity:0.5; -webkit-opacity:0.5; opacity:0.5; filter:alpha(opacity=50);}
#header .bg {position:absolute; left:0; top:0; z-index:1; width:100%; height:100%; background:#f5f6f1;
-moz-opacity:0.9; -ms-opacity:0.9; -o-opacity:0.9; -webkit-opacity:0.9; opacity:0.9; filter:alpha(opacity=90);}

.mob_btn {display:none;}


/*** container ***/
#container {width:100%; height:auto; position:relative; margin-top:-110px; z-index:101;}
#sub_vi {width:100%; height:280px; background-size:cover !important; position:relative;}
#sub_vi span {display:block; position:absolute; width:100%; height:100%; background:url(/Img/kr/common/sub_vi_patternbg.png) repeat left top;
-moz-opacity:0.1; -ms-opacity:0.1; -o-opacity:0.1; -webkit-opacity:0.1; opacity:0.1; filter:alpha(opacity=10);}
#sub_vi.vi01 {background:url(/Img/kr/common/sub_vi01.jpg) no-repeat center top;}
#sub_vi.vi02 {background:url(/Img/kr/common/sub_vi02.jpg) no-repeat center top;}
#sub_vi.vi03 {background:url(/Img/kr/common/sub_vi03.jpg) no-repeat center top;}
#sub_vi.vi04 {background:url(/Img/kr/common/sub_vi04.jpg) no-repeat center top;}
#sub_vi.vi05 {background:url(/Img/kr/common/sub_vi05.jpg) no-repeat center top;}
#sub_vi.vi06 {background:url(/Img/kr/common/sub_vi06.jpg) no-repeat center top;}
#sub_vi.vi07 {background:url(/Img/kr/common/sub_vi07.jpg) no-repeat center top;}
#sub_wrap {width:100%; height:auto; background:url(/Img/kr/common/sub_wrapbg.gif) repeat-x left top;}
#sub_wrap .al_box {min-height:600px; background:url(/Img/kr/common/lnb_bg.gif) repeat-y left top;}
.left_menu {width:240px; height:auto; position:absolute; left:0; top:-70px; z-index:10;}
.left_menu h2 {width:100%; height:auto; background:#209b52 url(/Img/kr/common/lnb_titlebg.jpg) no-repeat right bottom; color:#fff; font-size:28px; line-height:34px; text-align:center; padding:75px 0;}
.left_menu #lnb {width:100%; height:auto; border-top:1px solid #dfdfdf;}
.left_menu #lnb li {border-bottom:1px solid #dfdfdf;}
.left_menu #lnb li a {display:block; padding:10px 20px; background:url(/Img/kr/common/lnb_bul.png) no-repeat 88% 50%;
-webkit-transition: all .3s ease; transition: all .3s ease;}
.left_menu #lnb li a.ov, .left_menu #lnb li a:hover, .left_menu #lnb li a:active {font-weight:600; color:#0f8d42; background:url(/Img/kr/common/lnb_bul_ov.png) no-repeat 92% 50%;}
.left_menu #lnb li .subDepth2 {width:100%; border-top:1px solid #dfdfdf;}
.left_menu #lnb li .subDepth2 ul {border:0; width:auto; padding:10px 20px;}
.left_menu #lnb li .subDepth2 ul li {border:0;}
.left_menu #lnb li .subDepth2 ul li a {padding:2px 0 2px 12px; background:url(/Img/kr/common/lnb_bul_depth2.gif) no-repeat 3px 12px;}
.left_menu .quick_menu {width:auto; margin:0 1px; padding:20px; background:#f6f6f6; border-bottom:1px solid #dfdfdf;}
.left_menu .quick_menu dt {color:#20914b; font-weight:600;}
.left_menu .quick_menu dd {margin-top:10px;}
.left_menu .quick_menu dd ul {width:auto;}
.left_menu .quick_menu dd ul li {margin-top:5px;}
.left_menu .quick_menu dd ul li a {display:inline-block; vertical-align:top; padding:0 0 0 20px; font-size:13px; color:#808080; background:url(/Img/kr/common/quick_ico.png) no-repeat;}
.left_menu .quick_menu dd ul li a.bn01 {background-position:left 3px;}
.left_menu .quick_menu dd ul li a.bn02 {background-position:left -48px;}
.left_menu .quick_menu dd ul li a.bn03 {background-position:left -97px;}
.left_menu .quick_menu dd ul li a.bn04 {background-position:left -147px;}
#contents {width:auto; height:auto; padding:0 0 80px 290px;}
.location {position:relative; width:100%; padding:0 0 40px 0;}
.location h3.cont_title {font-size:34px; line-height:42px; margin:30px 0 0 0;}
.location .navi {width:auto; height:36px; padding:12px 0 0 0;}
.location .navi:after {content:""; display:block; clear:both;}
.location .navi a {display:inline-block; vertical-align:top;}
.location .navi a.home {background:url(/Img/kr/common/home_ico.png) no-repeat left top; width:15px; height:13px; margin-top:4px;}
.location .navi a.home span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
.location .navi a.navi_ov {color:#1fb25a;}
.location .navi a:hover, .location .navi a:active {text-decoration:underline;}
.location .sns {position:absolute; right:0; top:10px;}
.location .sns dt {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
.location .sns dd {float:left; margin-left:4px;}
.location .sns dd a {display:block; width:28px; height:28px; overflow:hidden;
-moz-border-radius:14px; -ms-border-radius:14px; -o-border-radius:14px; -webkit-border-radius:14px; border-radius:21px;}
.location .sns dd.tw a {background:#17b8ee url(/Img/kr/common/sns_ico.png) no-repeat center top;}
.location .sns dd.fb a {background:#3c5899 url(/Img/kr/common/sns_ico.png) no-repeat center -28px;}
.location .sns dd.pr a {background:#999999 url(/Img/kr/common/sns_ico.png) no-repeat center -56px;}
.location .sns dd a span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
#txt {width:100%; height:auto; position:relative;}


/*** footer ***/
#footer {width:100%; height:auto; background:#3b3f40; padding:30px 0; position:relative;}
#footer .al_box {background:url(/Img/kr/common/footer_logo.png) no-repeat left 50%;} 
#footer .footer_m {width:auto; height:auto; margin-left:200px;}
#footer .footer_m:after {content:""; display:block; clear:both;}
#footer .footer_m li {float:left; width:auto; padding:0 12px 0 13px; background:url(/Img/kr/common/footer_m_bul.gif) no-repeat left 50%;}
#footer .footer_m li:first-child {padding-left:0; background:none;}
#footer .footer_m li a {display:inline-block; vertical-align:top; padding:5px 0; font-size:13px; color:#fff;}
#footer .footer_m li:first-child a {color:#f3cf21;}
#footer address {display:block; font-size:13px; margin-top:5px; margin-left:200px; color:#bcbdbd;}  
#footer address span {margin-left:5px; display:inline-block;}
#footer p {font-size:13px; margin:0; margin-left:200px; color:#bcbdbd;}

/* lim 추가 */
#kakao_view{display:none}
.reveal-modal-bg { position:fixed;height:100%; width:100%; background:#000; background: rgba(0,0,0,.8); z-index:10001; isplay: none; top: 0; left: 0;opacity : .9; filter: alpha(opacity:'90');}
.reveal-modal { visibility: hidden; top:137px; left:50%;margin-left:-360px; position:absolute; z-index:10002;}
.reveal-modal a { margin-left:-4px; }

/* 사이트맵 */
.sitemap {width:100%; height:auto; overflow:hidden;}
.sitemap:after {content:""; display:block; clear:both;}
.sitemap li {width:29.333%; margin:0 4% 50px 0; float:left; min-height:400px;}
.sitemap li h4 {color:#c40f69; border-bottom:1px solid #e5e5e5; border-top:2px solid #00806e; margin:0; padding:10px 10px; font-size:18px; background:none;}
.sitemap li ul {width:auto;}
.sitemap li ul li {margin:0; border-bottom:1px dotted #e7e7e7; float:none; width:auto; padding:0; min-height:10px;}
.sitemap li ul li a {display:inline-block; vertical-align:top; padding:6px 15px 6px 15px; background:url(/Img/ipsi/common/h6_bul.gif) no-repeat 5px 14px;}
.sitemap li ul li a:hover, .sitemap li ul li a:active, .sitemap li ul li a:focus {text-decoration:underline;}
.sitemap li ul li ul {margin:0; padding:5px 0 5px 18px; background:#f6f6f6; border-top:1px dotted #e7e7e7;}
.sitemap li ul li ul li {margin-top:0; border:0; background:url(/Img/kr/common/list_ty3_bul.gif)  no-repeat 0 10px ; padding:0 0 0 0 !important }
.sitemap li ul li ul li a {background:url(/Img/ipsi/common/h8_bul.gif) no-repeat left 12px; padding:2px 10px 2px 10px; font-size:0.929em;}
@media all and (max-width:768px){
.sitemap li {width:45%;}
.sitemap > li:nth-child(3), .sitemap > li:nth-child(4), .sitemap > li:nth-child(5), .sitemap > li:nth-child(6){ min-height:250px}
}

@media all and (max-width:500px){
.sitemap li {width:100%; margin:0 0 40px 0; min-height:auto !important}

}
