@charset "utf-8";

.elem_mar {margin:7px;}
.bor_radius {-moz-border-radius:6px; -ms-border-radius:6px; -o-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; background:#fff; overflow:hidden; 
-moz-box-shadow:0 1px 1px #666; -ms-box-shadow:0 1px 1px #666; -o-box-shadow:0 1px 1px #666; -webkit-box-shadow:0 1px 1px #666; box-shadow:0 1px 1px #666;}

#layer_pop {position:absolute; left:0; top:110px; z-index:201; width:100%; height:auto;}
#layer_pop .btn {display:block; width:120px; height:42px; background:#1fb25a; color:#fff; text-align:center; position:absolute; left:50%; top:0; margin-left:-640px; z-index:10;}
#layer_pop .btn span.txt {display:inline-block; vertical-align:top; padding:9px 0 0 28px; min-height:26px; position:relative;}
#layer_pop .btn:hover span.txt, #layer_pop .btn:active span.txt {text-decoration:underline;}
#layer_pop .btn span.ico {display:block; position:absolute; left:15px; top:8px; width:24px; height:24px; padding:0; border:1px solid #8dd8ab; background:url(/Img/kr/main/layerpop_btnbg.png) no-repeat center 50%;
-moz-border-radius:13px; -ms-border-radius:13px; -o-border-radius:13px; -webkit-border-radius:13px; border-radius:13px;
-webkit-transition: all .3s ease; transition: all .3s ease;}
#layer_pop .btn.on span.ico {-webkit-transform:rotate(135deg); transform:rotate(135deg);}
#layer_pop .box {position:absolute; left:0; top:0; width:100%; height:auto; z-index:5; display:none;
-moz-opacity:0; -ms-opacity:0; -o-opacity:0; -webkit-opacity:0; opacity:0; filter:alpha(opacity=0);}
#layer_pop .box .control {position:absolute; z-index:10; top:90px; width:100%; max-width:1280px; left:50%; margin-left:-640px;}
#layer_pop .box .control a {display:block; width:54px; height:54px; border:4px solid #afb0af; position:absolute; top:210px; overflow:hidden;
-webkit-transition: all .3s ease; transition: all .3s ease;
-webkit-border-radius:30px; -ms-border-radius:30px; -o-border-radius:30px; -webkit-border-radius:30px; border-radius:30px;}
#layer_pop .box .control a.prev_btn {left:50%; margin-left:-460px; background:url(/Img/kr/main/layerpop_control_l.png) no-repeat 50% 50%;}
#layer_pop .box .control a.next_btn {right:50%; margin-right:-460px; background:url(/Img/kr/main/layerpop_control_r.png) no-repeat 50% 50%;}
#layer_pop .box .control a.prev_btn:hover, #layer_pop .box .control a.prev_btn:active {background-position:35% 50%;}
#layer_pop .box .control a.next_btn:hover, #layer_pop .box .control a.next_btn:active {background-position:65% 50%;}
#layer_pop .box .control a span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
#layer_pop .box .slider {position:absolute; z-index:10; left:50%; top:90px; margin-left:-360px; width:721px; height:auto; overflow:hidden;}
#layer_pop .box .slider ul {width:20000px; height:auto; position:relative;} 
#layer_pop .box .slider ul:after {content:""; display:block; clear:both;}
#layer_pop .box .slider ul li {float:left; margin-right:1px; width:360px; height:auto;}
#layer_pop .box .slider ul li a {display:block; height:100%;}
#layer_pop .box .slider ul li a img {display:block; width:100%; margin:0 auto;}
#layer_pop .box .blind {position:fixed; left:0; top:0; width:100%; height:100%; background:#000; z-index:1;
-moz-opacity:0.75; -ms-opacity:0.75; -o-opacity:0.75; -webkit-opacity:0.75; opacity:0.75; filter:alpha(opacity=75);}

.slogon {margin:0; position:absolute; z-index:10; left:50%; margin-left:-276px; top:150px;}
#pointer {position:absolute; z-index:10; right:50%; margin-right:-640px; top:200px;}
#pointer a {color:#fff; display:block; width:64px; height:64px; float:left; position:relative; text-decoration:none;}
#pointer a:first-child {margin-right:10px;}
#pointer a span {display:block; width:64px; height:44px; text-align:center; border-radius:32px; overflow:hidden;
-webkit-transition: all .5s ease; transition: all .5s ease;}
#pointer a span.txt {position:relative; z-index:10; padding:20px 0 0 0; text-indent:-9999px;}
#pointer a span.txt img {display:block; position:absolute; left:50%; top:50%; margin:-18px 0 0 -18px;
-moz-opacity:1; -ms-opacity:1; -o-opacity:1; -webkit-opacity:1; opacity:1; filter:alpha(opacity=100);}
#pointer a span.bg {position:absolute; left:0; top:0; z-index:1; background:#1fb25a url(/Img/kr/main/pointer_bg.png) no-repeat center top; border:0; width:60px; height:60px; border:2px solid #1fb25a;
-moz-opacity:1; -ms-opacity:1; -o-opacity:1; -webkit-opacity:1; opacity:1; filter:alpha(opacity=100);}
#pointer a.active span.txt {text-indent:0;} 
#pointer a.active span.txt img {-moz-opacity:0; -ms-opacity:0; -o-opacity:0; -webkit-opacity:0; opacity:0; filter:alpha(opacity=0);}
#pointer a.active span.bg {background:#444; border:2px solid #fff; 
-moz-opacity:0.3; -ms-opacity:0.3; -o-opacity:0.3; -webkit-opacity:0.3; opacity:0.3; filter:alpha(opacity=30);}
#pointer a:hover span.txt img, #pointer a:active span.txt img {		
-webkit-animation:rotate 1s ease-in-out infinite alternate; /* Chrome, Safari, Opera */
animation:rotate 1s ease-in-out infinite alternate;}
@-webkit-keyframes rotate {
	0%   {transform: rotateY(0deg);}
	100%   {transform: rotateY(360deg);}
}
/* Standard syntax */
@keyframes rotate {
	0%   {transform: rotateY(0deg);}
	100%   {transform: rotateY(360deg);}
}

#control {position:absolute; width:100%; z-index:10; top:50%; margin-top:-40px;}
#control a {display:block; width:100px; text-align:center; position:absolute; top:0; text-decoration:none; color:#1e1e1e;
-moz-opacity:0.8; -ms-opacity:0.8; -o-opacity:0.8; -webkit-opacity:0.8; opacity:0.8; filter:alpha(opacity=80);
-webkit-transition: all .3s ease; transition: all .3s ease;}
#control a:first-child {display:none; -moz-opacity:0; -ms-opacity:0; -o-opacity:0; -webkit-opacity:0; opacity:0; filter:alpha(opacity=0);}
#control a.next_btn {right:50%; margin-right:-760px;}
#control a.prev_btn {left:50%; margin-left:-760px;}
#control a span {display:block; margin:0 auto; overflow:hidden;}
#control a span.cursor {width:61px; height:108px; -webkit-transition: all .3s ease; transition: all .3s ease;}
#control a.next_btn span.cursor {background:url(/Img/kr/main/pointer_control_next.png) no-repeat right top;}
#control a.prev_btn span.cursor {background:url(/Img/kr/main/pointer_control_prev.png) no-repeat left top;}
#control a span.txt {margin-top:20px; display:inline-block; padding:0 15px; height:40px; min-width:10px;
-moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; -webkit-border-radius:20px; border-radius:20px;
background: #fff; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(#fff, #e1e1e1); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#fff, #e1e1e1); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#fff, #e1e1e1); /* For Firefox 3.6 to 15 */
background: linear-gradient(#fff, #e1e1e1); /* Standard syntax */ 
}
#control a:first-child span.txt {display:none; -moz-opacity:0; -ms-opacity:0; -o-opacity:0; -webkit-opacity:0; opacity:0; filter:alpha(opacity=0);}
#control a span.txt span {font-size:15px; height:40px; line-height:40px; display:inline-block; vertical-align:top; width:50px;}
#control a:first-child span.txt span {display:none; width:0; -moz-opacity:0; -ms-opacity:0; -o-opacity:0; -webkit-opacity:0; opacity:0; filter:alpha(opacity=0);}
#control a.next_btn span.txt span {background:url(/Img/kr/main/pointer_control_ico01.png) no-repeat 5px 50%; padding:0 0 0 20px;}
#control a.prev_btn span.txt span {background:url(/Img/kr/main/pointer_control_ico02.png) no-repeat left 50%; padding:0 0 0 26px;} 
#control a.next_btn:hover span.cursor, #control a.next_btn:active span.cursor {padding-left:30px;}
#control a.prev_btn:hover span.cursor, #control a.prev_btn:active span.cursor {padding-right:30px;}

#tema_section {width:100%; height:980px; position:relative; z-index:1;}
#tema_section li {position:absolute; width:100%; height:100%; left:100%; top:0; background-size:cover !important; display:none;}
#tema_section li:first-child {left:0; display:block;}
#tema_section li.helper {background:url(/Img/kr/main/section1_bg.jpg) no-repeat center top;}
#tema_section li.infor {background:url(/Img/kr/main/section2_bg.jpg) no-repeat center top;}
#tema_section li span.dot_bg {display:block; position:absolute; left:0; top:0; width:100%; height:100%; background:url(/Img/kr/main/dot_bg.gif) repeat left top; z-index:1;
-moz-opacity:0.3; -ms-opacity:0.3; -o-opacity:0.3; -webkit-opacity:0.3; opacity:0.3; filter:alpha(opacity=30);}
#tema_section li .al_box {z-index:10; margin-top:330px; max-width:1294px;}
#tema_section li h3 {font-size:23px; line-height:28px;}

.box_ty0 {width:50%; float:left;}
.box_ty0 .bor_radius {height:578px;}
.box_ty1 {width:50%; float:left;}
.box_ty1 .bor_radius {height:270px;}
.box_ty2 {width:25%; float:left;}
.box_ty2 .bor_radius {height:140px;}
.box_ty3 {width:12.5%; float:left;}
.box_ty3 .bor_radius {height:140px;}
.box_ty4 {width:75%; float:left;}
.box_ty4 .bor_radius {height:140px;}


/** helper **/
.elem_1_1 .bor_radius {background:none; position:relative;}
.elem_1_1 .title {position:absolute; left:30px; top:100px; background:#fff; padding:30px 25px; width:250px; z-index:10;
-moz-opacity:0.9; -ms-opacity:0.9; -o-opacity:0.9; -webkit-opacity:0.9; opacity:0.9; filter:alpha(opacity=90);} 
.elem_1_1 .title p {margin:0; font-size:15px;}
.elem_1_1 .title p.txt1 {margin-bottom:25px; font-size:18px; line-height:24px; font-weight:600;}
.elem_1_1 .title p.txt1 img {display:block; margin-top:10px;}
#tema_section li .elem_1_1 .control {position:absolute; width:100%; height:14px; top:40px; left:0; z-index:20;}
#tema_section li .elem_1_1 .control a[class*="btn_"] {display:none; width:15px; height:16px; background:url(/Img/kr/main/slide_auto.png) no-repeat center top; position:absolute; left:30px; top:0;}
#tema_section li .elem_1_1 .control a[class*="btn_"] span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
#tema_section li .elem_1_1 .control a.btn_play {background-position:center -16px;}
#tema_section li .elem_1_1 .control ul {position:absolute; left:54px; top:0; width:auto; height:14px; text-align:center;}
#tema_section li .elem_1_1 .control ul li {display:block; margin-right:5px; z-index:20; position:relative; width:auto; height:auto; top:auto; left:auto; float:left;}
#tema_section li .elem_1_1 .control ul li a {overflow:hidden; display:block; width:14px; height:14px; text-indent:-10000px; background:#fff;
-webkit-transition: all .3s ease; transition: all .3s ease;
-moz-border-radius:7px; -ms-border-radius:7px; -o-border-radius:7px; -webkit-border-radius:7px; border-radius:7px;
-moz-box-shadow:0 1px 1px #7e7e7e; -ms-box-shadow:0 1px 1px #7e7e7e; -o-box-shadow:0 1px 1px #7e7e7e; -webkit-box-shadow:0 1px 1px #7e7e7e; box-shadow:0 1px 1px #7e7e7e;}
#tema_section li .elem_1_1 .control ul li a.on {background:#0f8d42; width:40px;}
#tema_section li .elem_1_1 .move {width:100%; height:100%; overflow:hidden; position:absolute; z-index:5;}
#tema_section li .elem_1_1 .move li {width:100%; height:100%; position:absolute; left:100%; top:0; display:block; overflow:hidden;}
#tema_section li .elem_1_1 .move li:first-child {left:0;}
#tema_section li .elem_1_1 .move li img {display:block; height:100%; float:right;}

#tema_section li .elem_1_2 h3 {padding:18px 5%; height:27px;}
#tema_section li .elem_1_2 ul {border-top:1px solid #d8d8d8; width:auto; padding:25px 5% 0 5%;}
#tema_section li .elem_1_2 ul li {position:relative; width:auto; height:auto; left:auto; top:auto; display:block;}
#tema_section li .elem_1_2 ul li:after {content:""; display:block; clear:both;}
#tema_section li .elem_1_2 ul li span {display:inline-block; vertical-align:top;}
#tema_section li .elem_1_2 ul li span.subject {width:80%; float:left; text-align:left;}
#tema_section li .elem_1_2 ul li span.subject a {display:inline-block; vertical-align:top; position:relative; width:auto; max-width:85%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; height:22px; padding:4px 22px 4px 10px; background:url(/Img/kr/main/board_bul.gif) no-repeat left 14px;}
#tema_section li .elem_1_2 ul li span.subject a img {position:absolute; right:0; top:8px; display:block;}
#tema_section li .elem_1_2 ul li span.date {width:20%; float:right; text-align:right; height:22px; padding:4px 0; color:#666;}
.elem_1_2 .bor_radius {overflow:visible; position:relative;}
.elem_1_2 .more_btn {position:absolute; right:4%; top:15px; display:block; z-index:10;}
.elem_1_2 .more_btn a {display:block; width:34px; height:34px; background:url(/Img/kr/main/board_more.png) no-repeat center 50%;
-webkit-transition: all .8s ease; transition: all .8s ease;}
.elem_1_2 .more_btn a:hover, .elem_1_2 .more_btn a:active {-webkit-transform:rotate(270deg); transform:rotate(270deg);} 
.elem_1_2 .more_btn a span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
.elem_1_2 .mascot {display:block; width:79px; height:83px; background:url(/Img/kr/main/mascot.png) no-repeat; position:absolute; right:5%; top:-55px; z-index:201;}

.elem_1_3 .bor_radius {background:none;}
.elem_1_3 a {display:block; height:100%; text-decoration:none; color:#fff; padding:0 10%; background:url(/Img/kr/main/elem_1_3_bg.jpg) no-repeat left top;}
.elem_1_3 a h3 {padding:20px 0 10px 0;}
.elem_1_3 a h3 span {display:block; line-height:28px;}
.elem_1_3 a span.view_btn {display:inline-block; vertical-align:top; border:1px solid #fff; padding:4px 20px 4px 8px; font-size:13px; background:url(/Img/kr/main/elem_1_3_btnbg.png) no-repeat 89% 50%;}
.elem_1_3 a:hover span.view_btn, .elem_1_3 a:active span.view_btn {text-decoration:underline;}

.elem_1_4 a {display:block; height:100%; color:#333; background:url(/Img/kr/main/elem_1_4_bg.png) no-repeat right bottom;}
.elem_1_4 a h3 {padding:54px 100px 0 10%;}
					
.elem_1_5 h3 {padding:25px 10% 15px 10%;}
.elem_1_5 .link_bn {width:auto; padding:0 10%;}
.elem_1_5 .link_bn:after {content:""; display:block; clear:both;}
.elem_1_5 .link_bn a {display:block; width:50%; float:left; text-align:center; color:#fff; font-size:17px; background:#0f8d42; padding:8px 0;}
.elem_1_5 .link_bn a:first-child {background:#00b25a;}

.elem_1_6 .bor_radius {background:none;}
.elem_1_6 a {background:#2b75c9; display:block; height:100%; color:#fff;}
#tema_section li .elem_1_6 a h3 {font-size:17px; text-align:center; padding:95px 0 0 0; background:url(/Img/kr/main/elem_1_6_ico.png) no-repeat center 30px;}

.elem_1_7 .bor_radius {background:none;}
.elem_1_7 a {background:#ffe900; display:block; height:100%; color:#333;}
#tema_section li .elem_1_7 a h3 {font-size:17px; text-align:center; padding:95px 0 0 0; background:url(/Img/kr/main/elem_1_7_ico.png) no-repeat center 30px;}							


/** infor **/
.elem_2_1 .bor_radius {position:relative; overflow:visible; background:none; height:424px;}
.elem_2_1 h3 {background:#3a4b5b; color:#fff; text-align:center; padding:18px 0;  height:28px;
-moz-border-radius:6px 6px 0 0; -ms-border-radius:6px 6px 0 0; -o-border-radius:6px 6px 0 0; -webkit-border-radius:6px 6px 0 0; border-radius:6px 6px 0 0;}
#tema_section li .elem_2_1 ul {background:#fff; height:360px; width:auto; padding:0 15px;
-moz-border-radius:0 0 6px 6px; -ms-border-radius:0 0 6px 6px; -o-border-radius:0 0 6px 6px; -webkit-border-radius:0 0 6px 6px; border-radius:0 0 6px 6px;}
#tema_section li .elem_2_1 ul li {display:block; background:none; position:relative; width:auto; height:auto; left:auto; top:auto; border-top:1px solid #d6d6d6;}
#tema_section li .elem_2_1 ul li:first-child {border:0;} 
#tema_section li .elem_2_1 ul li a {display:block; font-size:17px; line-height:22px; padding:33px 0 33px 100px; background-position:20px 50% !important;}
#tema_section li .elem_2_1 ul li a.bn1 {background:url(/Img/kr/main/elem_2_1_ico1.png) no-repeat;}
#tema_section li .elem_2_1 ul li a.bn2 {background:url(/Img/kr/main/elem_2_1_ico2.png) no-repeat;}
#tema_section li .elem_2_1 ul li a.bn3 {background:url(/Img/kr/main/elem_2_1_ico3.png) no-repeat;}
#tema_section li .elem_2_1 ul li a.bn4 {background:url(/Img/kr/main/elem_2_1_ico4.png) no-repeat;}
.elem_2_1 .mascot {display:block; width:79px; height:83px; background:url(/Img/kr/main/mascot.png) no-repeat; position:absolute; left:10%; top:-55px; z-index:201;}

#tema_section li .elem_2_2 .bor_radius {position:relative;}
#tema_section li .elem_2_2 h3 {color:#0f8d42; position:absolute; left:5%; top:18px; height:45px; z-index:1;}
#tema_section li .elem_2_2 ul {width:100%; position:relative;}
#tema_section li .elem_2_2 ul li {position:absolute; width:100%; height:auto; left:0; top:0; display:block; padding:64px 0 0 0;}
#tema_section li .elem_2_2 ul li a {position:absolute; top:19px; display:inline-block; vertical-align:top; font-size:17px; text-align:center; line-height:24px; font-weight:600; z-index:10; text-decoration:none;}
#tema_section li .elem_2_2 ul li a span {display:inline-block; vertical-align:top; line-height:24px;}
#tema_section li .elem_2_2 ul li a.ov, #tema_section li .elem_2_2 ul li a:hover, #tema_section li .elem_2_2 ul li a:active {border-bottom:2px solid #0f8d42;}
#tema_section li .elem_2_2 ul li a.tab1 {left:170px;}
#tema_section li .elem_2_2 ul li a.tab2 {left:220px;}
#tema_section li .elem_2_2 ul li a.tab3 {left:270px;}
#tema_section li .elem_2_2 ul li a.tab4 {left:390px;} 
#tema_section li .elem_2_2 ul li ul {width:auto; display:none; padding:25px 5% 0 5%; border-top:1px solid #d8d8d8;}
#tema_section li .elem_2_2 ul li:first-child ul {display:block;}
#tema_section li .elem_2_2 ul li ul li {position:relative; left:auto; top:auto; padding:0;}
#tema_section li .elem_2_2 ul li ul li:after {content:""; display:block; clear:both;}
#tema_section li .elem_2_2 ul li ul li span {display:inline-block; vertical-align:top;}
#tema_section li .elem_2_2 ul li ul li span.subject {width:80%; float:left; text-align:left;}
#tema_section li .elem_2_2 ul li ul li span.subject a {display:inline-block; vertical-align:top; position:relative; top:auto; font-size:14px; font-weight:normal; width:auto; max-width:85%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; height:22px; padding:4px 22px 4px 10px; background:url(/Img/kr/main/board_bul.gif) no-repeat left 14px; border-bottom:0 !important;}
#tema_section li .elem_2_2 ul li ul li span.subject a img {position:absolute; right:0; top:8px; display:block;}
#tema_section li .elem_2_2 ul li ul li span.subject a:hover, #tema_section li .elem_2_2 ul li ul li span.subject a:active {text-decoration:underline;}
#tema_section li .elem_2_2 ul li ul li span.date {width:20%; float:right; text-align:right; height:22px; padding:4px 0; color:#666;}
.elem_2_2 .more_btn {position:absolute; right:4%; top:15px; display:none; z-index:10;}
#tema_section li .elem_2_2 ul li:first-child .more_btn {display:block;}
.elem_2_2 .more_btn a {display:block !important; width:34px; height:34px; background:url(/Img/kr/main/board_more.png) no-repeat center 50%; top:auto !important; position:relative !important; border-bottom:0 !important;
-webkit-transition: all .8s ease; transition: all .8s ease;}
.elem_2_2 .more_btn a:hover, .elem_2_2 .more_btn a:active {-webkit-transform:rotate(270deg); transform:rotate(270deg);} 
.elem_2_2 .more_btn a span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
							
.elem_2_3 .bor_radius {background:none; height:270px;}
.elem_2_3 a {display:block; height:100%; text-decoration:none; color:#fff; padding:0 10%; background:url(/Img/kr/main/elem_2_3_bg.jpg) no-repeat left top;}
.elem_2_3 a h3 {padding:30px 0 15px 0;}
.elem_2_3 a h3 span {display:block; line-height:28px;}
.elem_2_3 a span.view_btn {display:inline-block; vertical-align:top; border:1px solid #fff; padding:4px 20px 4px 8px; font-size:13px; background:url(/Img/kr/main/elem_1_3_btnbg.png) no-repeat 89% 50%;}
.elem_2_3 a:hover span.view_btn, .elem_2_3 a:active span.view_btn {text-decoration:underline;}

.elem_2_4 a {display:block; height:100%; color:#333; background:url(/Img/kr/main/elem_2_4_bg.png) no-repeat right bottom;}
.elem_2_4 a h3 {padding:54px 100px 0 10%;}

.elem_2_5 a {display:block; height:100%; color:#333; background:url(/Img/kr/main/elem_2_5_bg.png) no-repeat right bottom;}
.elem_2_5 a h3 {padding:54px 100px 0 10%;}

.elem_2_6 .bor_radius {background:#2b75c9;}
.elem_2_6 a {display:block; height:100%; color:#fff; background:url(/Img/kr/main/elem_2_6_bg.png) no-repeat right bottom;}
.elem_2_6 a h3 {padding:54px 100px 0 10%;}

.elem_2_7 h3 {padding:25px 10% 15px 10%;}
.elem_2_7 .link_bn {width:auto; padding:0 10%;}
.elem_2_7 .link_bn:after {content:""; display:block; clear:both;}
.elem_2_7 .link_bn a {display:block; width:50%; float:left; text-align:center; color:#fff; font-size:17px; background:#0f8d42; padding:8px 0;}
.elem_2_7 .link_bn a:first-child {background:#00b25a;}

.elem_2_8 .bor_radius {position:relative;}
#tema_section li .elem_2_8 .prev_btn {position:absolute; left:0; top:20px; width:7%; height:100px; background:url(/Img/kr/main/elem_2_8_control_l.png) no-repeat right 50%; z-index:20;
-webkit-transition: all .3s ease; transition: all .3s ease;}
#tema_section li .elem_2_8 .prev_btn span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
#tema_section li .elem_2_8 .next_btn {position:absolute; right:0; top:20px; width:7%; height:100px; background:url(/Img/kr/main/elem_2_8_control_r.png) no-repeat left 50%; z-index:20;
-webkit-transition: all .3s ease; transition: all .3s ease;}
#tema_section li .elem_2_8 .next_btn span {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
#tema_section li .elem_2_8 .prev_btn:hover, #tema_section li .elem_2_8 .prev_btn:active {background-position:70% 50%;}
#tema_section li .elem_2_8 .next_btn:hover, #tema_section li .elem_2_8 .next_btn:active {background-position:30% 50%;}
#tema_section li .elem_2_8 .move {width:auto; height:100px; margin:20px 7%; overflow:hidden; position:relative;}
#tema_section li .elem_2_8 .move ul {position:absolute; left:0; top:0; width:20000px; height:100%; z-index:10;}
#tema_section li .elem_2_8 .move ul li {position:relative; top:auto; left:auto; float:left; display:block;}
#tema_section li .elem_2_8 .move ul li a {display:block; text-align:center; padding:73px 0 0 0; font-size:17px; background-position:center top !important;}
#tema_section li .elem_2_8 .move ul li a.bn1 {background:url(/Img/kr/main/elem_2_8_ico01.png) no-repeat;}
#tema_section li .elem_2_8 .move ul li a.bn2 {background:url(/Img/kr/main/elem_2_8_ico02.png) no-repeat;}
#tema_section li .elem_2_8 .move ul li a.bn3 {background:url(/Img/kr/main/elem_2_8_ico03.png) no-repeat;}
#tema_section li .elem_2_8 .move ul li a.bn4 {background:url(/Img/kr/main/elem_2_8_ico04.png) no-repeat;}
#tema_section li .elem_2_8 .move ul li a.bn5 {background:url(/Img/kr/main/elem_2_8_ico04.png) no-repeat;}
#tema_section li .elem_2_8 .move span.spot {display:block; width:14px; height:9px; background:url(/Img/kr/main/elem_2_8_spotbg.png) no-repeat left top; position:absolute; z-index:1; top:50%; margin-top:-4px; margin-left:-7px;}
#tema_section li .elem_2_8 .move span.spot.num1 {left:25%;}
#tema_section li .elem_2_8 .move span.spot.num2 {left:50%;}
#tema_section li .elem_2_8 .move span.spot.num3 {left:75%;}




