@CHARSET "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
	padding: 0;
  border: 0;
  outline: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
  color: inherit;
  line-height: 1;
  letter-spacing: -0.05em;
}
html,
body,
.wrap {
	min-height: 100%;
	background: #4a4a4a;
	
}
.wrap {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #4a4a4a;
}

.a4 {
	width: 1200px;
	margin: 0 auto;
	padding: 60px 90px 20px;
	background: #ffffff;
	position: relative;
}
.a4:last-child {
	margin-bottom: 0;
}
.a4-line {
	position: absolute;
	left: 90px;
	right: 90px;
	background: #edeff2;
}
.a4-line.top {
	top: 60px;
}
.a4-line.bottom {
	bottom: 60px;
}
.helper-text {
	font-size: 18px;
	color: #4a4a4a;
}
h1 {
	padding: 32px 0;
	text-align: center;
	font-size: 34px;
	font-weight: 700;
	border-top: 4px solid rgba(0,0,0,0.14);
	border-bottom: 4px solid rgba(0,0,0,0.14);
	word-break: keep-all;
}
.division {
	margin-top: 40px;
}
.depth-division {
	padding-left: 25px;
}
.depth2-division {
	padding-left: 20px;
	margin-top: 4px;
	margin-bottom: 10px;
}
.title.square-a {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 12px;
}
.square-b {
	font-size: 18px;
	line-height: 1.9;
	font-weight: 300;
	margin-bottom: 10px;
}
.square-b .font-600,
.square-b .font-400 {
	font-size: 20px;
}
.square-b .helper-text {
	margin-left: 16px;
	word-break: keep-all;
}
.line-text {
	font-size: 20px;
	line-height: 1.7;
	font-weight: 300;
	text-indent: -0.7rem;
	margin-left: 0.7rem;
}
.purpose {
		border: 1px solid rgba(0,0,0,0.14);
		border-radius: 6px;
		padding: 29px 25px 15px;
		position: relative;
}
.purpose h2 {
	width: 166px;
	padding: 9px 0;
	font-size: 22px;
	font-weight: 500;
	text-align:center;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #ffffff;
	border: 1px solid rgba(0,0,0,0.14);
	border-radius: 21.5px;
	word-break: keep-all;
}
.purpose p {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.7;
	text-indent: -1.3rem;
	margin-left: 1.3rem;
	word-break: keep-all;
}

.flex {
	display: flex;
}
.flex .item {
	margin-top: 10px;
	flex:1;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	font-weight: 300;
}

.flex .item:not(:last-child) {
	border-right: 0;
}
.border {
	border: 1px solid rgba(0,0,0,0.14);
}

.margin-b-20 {
	margin-bottom: 20px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table {
	border-radius: 8px;
	margin-top: 20px;
	padding: 10px 15px;
}
.base-table {
	width: 100%;
	margin-top: 10px;
}
.base-table th {
	font-size: 18px;
	text-align: center;
	background: #f4f5f9;
	font-weight: 500;
	height: 39px;
	vertical-align: middle;
	border-left: 0;
	border-top: 1px solid rgba(0,0,0,0.14);
	border-right: 1px solid rgba(0,0,0,0.14);
}
.base-table tr {
	border-bottom: 1px solid rgba(0,0,0,0.14);
}
.base-table td {
	font-size: 20px;
	text-align: center;
	height: 55px;
	vertical-align: middle;
	border-right: 1px solid rgba(0,0,0,0.14);
}
.base-table .last {
	border-right: 0;
}
.base-table.full-table.top-table td {
   font-size: 20px;
}
.table-total {
	margin-top: 18px;
	text-align: right;
	font-size: 20px;
	font-weight: 300;
}
.table-total .value {
	display: inline-block;
	width: 235px;
	text-align: center;
}

.photo {
	border-top: 1px solid rgba(0,0,0,0.14);
	border-bottom: 1px solid rgba(0,0,0,0.14);
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
}
.photo-item { 
	width: 500px;
}
.photo-item:nth-of-type(odd) {
	margin-right: auto;
}
.image-box {
	width: 100%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.background-item.square-b {
	margin-top: 10px;
	background: #f4f6fc;
	color: #34495e;
	padding-left: 25px;
	line-height: 40px;
	height: 40px;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
}
.background-item.square-b button {
	width: 62px;
	text-align: center;
}
.background-item.square-b button:hover {
	cursor: pointer;
}
img {
	max-width: 100%;
}
button {
	background: none;
}
.table.full { 
	padding: 0;
}
.base-table.full-table tr {
	border-top: 0;
}
.base-table.full-table td {
	height: auto;
	padding: 10px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.38;
} 
.base-table.full-table td.align-left {  
	text-align: left;
}
.table.full .table-total .value {
	width: 170px;
	text-align: right;
}


.plan-box {
	border-top: 1px solid rgba(0,0,0,0.14);
	border-bottom: 1px solid rgba(0,0,0,0.14);
	margin-bottom: 10px;
	display: flex;
	align-items: stretch;	
}

.plan-box:first-child {
	margin-top: 20px;
}

.plan-box .count {
	font-size: 20px;
	line-height: 3;
	width: 90px;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.14);
}
.plan-box .data {
	flex: 1;
}
.plan-box .data-item {
	width: 100%;
	display: flex; 
	align-items: center; 
	line-height: 60px;
	height: 60px;
	padding: 0 10px;
	font-size: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.14);
}
.plan-box .data-item:last-of-type {
	border-bottom: 0;
}
.plan-box .center {
	margin-left: 90px;  
} 
.flex-right {
	margin-left: auto;
}
.plan-box .data-item.info {
	align-items: stretch;
	line-height: auto;
	height: auto;
}
.plan-box .info-left {
	padding: 20px;
}
.plan-box .image-box {
	margin-top: 20px;
	border: 1px solid rgba(0,0,0,0.14);
	width: 500px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.plan-box .text {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.9;
	text-indent: -4.5rem;
	margin-left: 4.5rem;
	word-break: keep-all;
}

.plan-box .title {
	 margin-top: 20px;
	 word-break: keep-all;
}
.plan-box .info-right {
	width: 200px;
	border-left: 1px solid rgba(0,0,0,0.14);
	padding: 10px;
	font-weight: 300;
	line-height: 2.1;
	font-size: 18px;
}
 
.plan-table {
	border-collapse: separate;
}
.operation .text{
	margin: 5px auto 15px;
	text-indent: -0.6rem;
	margin-left: 2rem;
}


.plan-table .row {
	border-top: 1px solid rgba(0,0,0,0.14);
	border-left: 0;
}
.base-table.plan-table th {
	border-bottom: 1px solid rgba(0,0,0,0.14); 
}
.base-table.full-table.plan-table tr td.date { 
	vertical-align: top;
	font-size: 20px;
	font-weight: 500;
}
.base-table.full-table.plan-table td {
	font-size: 18px;
	border-bottom: 1px solid rgba(0,0,0,0.14);
	font-weight: 400;
}
.font-600 {
	font-weight: 500;
}
.font-400 {
	font-weight: 400;
}
