@CHARSET "UTF-8";

.x_panel {
	border: none;
	box-shadow: none;
}
.chart2 {
	border-top: 1px solid rgba(0,0,0,0.14);
	border-bottom: 1px solid rgba(0,0,0,0.14);
}
.chart2 tbody {
	border: none;
}
.chart2 tbody th {
	padding: 14px 0 14px 13px;
	font-size: 14px;
	color: #373737;
	border-right: 0;
	/* border-bottom: 1px solid rgba(0,0,0,0.14); */
}
.chart2 tbody td {
 	/* border-bottom: 1px solid rgba(0,0,0,0.14); */
 }
 .chart2 tbody tr {
 border-bottom: 1px solid rgba(0,0,0,0.14);
 }
input[type=text].form-control,
input[type=password].form-control {
	box-shadow: none;
}

.boot_btn {
	min-width: 70px;
	text-align: center;
	padding: 14px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.14);
	font-size: 14px;
	font-weight: 500;
	color: #373737;
	background: #ffffff;
}

.chart2 tbody td {
	color: #000000;
}
.boot_btn.duplicate {
	border: none;
	padding: 0;
	font-size: 16px; 
	font-weight: 600;
	color: #009b4d;
	line-height: 24px;
}
.boot_btn.duplicate:hover {
	background: #009b4d;
	color: #ffffff;
}
.low-input-group {
	display:flex;
}
.low-input-group > input[type=text].form-control {
	border: 1px solid rgba(0,0,0,0.14);
}
input[type=text].form-control {
	border: 1px solid rgba(0,0,0,0.14);
}

.boot_btn-primary:hover, .boot_btn-primary:active, .boot_btn-primary:focus,
.boot_btn-primary.active.focus, .boot_btn-primary.active:focus, .boot_btn-primary.active:hover, 
.boot_btn-primary:active.focus, .boot_btn-primary:active:focus, .boot_btn-primary:active:hover {
	color: #009b4d;
	border-color: #009b4d;
	background: #ffffff;
}


